@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

Header {
  background-color: var(--foreground);
}
nav a {
  color: #ffffff; 
  font-family:  var(--font-montserrat), sans-serif;
  font-weight: 400; 
  text-decoration: none;
  font-size: 17px;
  letter-spacing: .05em;
}

nav a:hover {
  color: #0f31a6; /* Tailwind’s gray-900 */
  text-decoration: underline;
}

h1 {
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 400;
  font-size: 131px;
  letter-spacing: 0.05em;
  color: white;
}


h2 {
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 400;
  font-size: 41px;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

/* Small Screens */
@media (max-width: 768px) {
  h1 {
    font-size: 3.5rem; 
    line-height: 1.2;
  }
}